<div class="">
  <div class="home-expenses-wrapper">
    <div class="column from-date">
      <span class="">From Date:&nbsp;&nbsp;</span>
      <p-calendar [(ngModel)]="fromDate" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030" [showIcon]="true"></p-calendar>
    </div>
    <div class="column to-date">
      <span class="">To Date:&nbsp;&nbsp;</span>
      <p-calendar [(ngModel)]="toDate" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030" [showIcon]="true"></p-calendar>
    </div>
    <div class="column account-type">
      <span class="">Account Type:&nbsp;&nbsp;</span>
      <p-dropdown [options]="accountTypes" [(ngModel)]="selectedAccountType" placeholder="Account Type" optionLabel="Type" [showClear]="true" (onChange)="accountTypeSelected()"></p-dropdown>
    </div>
    <div class="column account">
      <span class="">Account:&nbsp;&nbsp;</span>
      <p-dropdown [options]="accounts" [(ngModel)]="selectedAccount" placeholder="Account" optionLabel="DisplayName" [showClear]="true" (onChange)="enableDisableRefresh()"></p-dropdown>
    </div>
    <div class="column aciton-buttons">
      <p-button *ngIf="!saveDisabled" icon="pi pi-refresh" iconPos="right" label="Refresh" [disabled]="disableRefresh" (onClick)="getTransactions()" ></p-button>
    </div>
  </div>
  <div class="" *ngIf="transactions">
    <p-table [columns]="cols" [value]="transactions" [scrollable]="true" scrollHeight="350px" [resizableColumns]="true"
             selectionMode="single" [(selection)]="selectedTransaction" (onRowSelect)="onRowSelect($event)">
      <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
          <col *ngFor="let col of columns">
        </colgroup>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns" [pSortableColumn]="col.field" pResizableColumn>
            {{col.header}}
            <p-sortIcon [field]="col.field"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">
          <td>{{rowData.Date | date:'dd-MMM-yyyy'}}</td>
          <td>{{rowData.ExpenseGroup.Name}}</td>
          <td>{{rowData.ExpenseSubGroup.SubGroupName}}</td>
          <td>{{rowData.Debit}}</td>
          <td>{{rowData.Credit}}</td>
          <td>{{rowData.Balance}}</td>
          <td>{{rowData.TransactedBy}}</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage" let-columns>
        <tr>
          <td [attr.colspan]="columns.length">
            No records found
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary" let-rowData>
        <div style="text-align:left">
          <button type="button" pButton icon="fa fa-plus" (click)="showDialogToAdd()" label="Add"></button>
        </div>
      </ng-template>
    </p-table>
  </div>

  <!--<p-tabView (onChange)="tabChange($event)">
    <p-tabPanel [header]="account.DisplayName" [closable]="true" *ngFor="let account of _homeExpensesService.acounts;  let i = index" [selected]="i == selectedTab">

    </p-tabPanel>
  </p-tabView>-->

</div>

<p-dialog header="Transaction Details" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" [style]="{width: '300px'}">
  <div class="ui-g ui-fluid" *ngIf="transaction">
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="vin">Date</label>
      </div>
      <div class="ui-g-8">
        <p-calendar [(ngModel)]="transaction.Date" yearRange="2000:2030" [showIcon]="true"></p-calendar>
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="year">Item</label>
      </div>
      <div class="ui-g-8">
        <input pInputText id="Item" [(ngModel)]="transaction.Item" />
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="brand">Amount</label>
      </div>
      <div class="ui-g-8">
        <input pInputText id="Amount" [(ngModel)]="transaction.Amount" />
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="color">Store</label>
      </div>
      <div class="ui-g-8">
        <input pInputText id="Store" [(ngModel)]="transaction.Store" />
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="color">TransactedBy</label>
      </div>
      <div class="ui-g-8">
        <input pInputText id="TransactedBy" [(ngModel)]="transaction.TransactedBy" />
      </div>
    </div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="fa fa-close" (click)="delete()" label="Delete"></button>
      <button type="button" pButton icon="fa fa-check" (click)="save()" label="Save"></button>
    </div>
  </p-footer>
</p-dialog>


<p-sidebar [(visible)]="sidebars.addExpense" *ngIf="sidebars.addExpense" position="right" styleClass="ui-sidebar-sm">
  <app-expense [transaction]="transaction" [accountDetails]="selectedAccount" (savedTransaction)="getTransactions()"></app-expense>
</p-sidebar>
