<h1 style="font-weight:normal; text-align: center;">Redeem Units</h1>

<div class="elements">
  <div class="row element">
    <div class="col-lg-6">
      <span class="label">Portfolio</span>
      <p-dropdown [options]="portfolios" [(ngModel)]="selectedportFolio" optionLabel="name" placeholder="Portfolios" autoWidth="false" [style]="{'width':'100%'}"
                  [showClear]="true" (onChange)="onChangePortfolios()">
      </p-dropdown>
    </div>

    <div class="col-lg-6">
      <span class="label">Fund House</span>
      <p-dropdown class="" [options]="fundDetails.fundHouses" [(ngModel)]="fundDetails.selectedHouse" optionLabel="name" placeholder="Fund House"
                  [disabled]="disableControls.fundHouse" autoWidth="false" [style]="{'width':'100%'}" [showClear]="true" filter="true" (onChange)="fundHouseSelected()">
      </p-dropdown>
    </div>
  </div>

  <div class="row element">
    <div class="col-lg-12">
      <span class="label">Fund</span>
      <p-dropdown [options]="fundDetails.funds" [(ngModel)]="fundDetails.selectedFund" optionLabel="name" placeholder="Fund Name"
                  [disabled]="disableControls.funds" autoWidth="false" [style]="{'width':'100%'}" [showClear]="true" filter="true" (onChange)="onChangeFund()">
      </p-dropdown>
    </div>
  </div>

  <div class="row element">
    <div class="col-lg-3">
      <span class="label">Folio</span>
      <p-dropdown [options]="folios" [(ngModel)]="selectedFolios" optionLabel="name" placeholder="Folio" autoWidth="false" [style]="{'width':'100%'}"
                  [showClear]="true" filter="true" [disabled]="disableControls.folios">
      </p-dropdown>
    </div>
    <div class="col-lg-3">
      <span class="label">Type</span>
      <p-dropdown [options]="fundDetails.fundTypes" [(ngModel)]="fundDetails.selectedFundType" optionLabel="name" placeholder="Type"
                  [disabled]="disableControls.fundtypes" autoWidth="false" [style]="{'width':'100%'}" [showClear]="true">
      </p-dropdown>
    </div>
    <div class="col-lg-3">
      <span class="label">Category</span>
      <p-dropdown [options]="fundDetails.fundCategory" [(ngModel)]="fundDetails.selectedFundCategory" optionLabel="name" placeholder="Category"
                  [disabled]="disableControls.fundcategory" autoWidth="false" [style]="{'width':'100%'}" [showClear]="true">
      </p-dropdown>
    </div>
    <div class="col-lg-3">
      <span class="label">Option</span>
      <p-dropdown [options]="fundDetails.fundOptions" [(ngModel)]="fundDetails.selectedFundOptions" optionLabel="name" placeholder="Option"
                  [disabled]="disableControls.fundoptions" autoWidth="false" [style]="{'width':'100%'}" [showClear]="true">
      </p-dropdown>
    </div>
  </div>
</div>
